<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tic Tac Toe</title>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
<!-- Stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="table-wrapper">
        <div class="table">
            <table=cellspacing="10">
                <tr>
                    <td>Player 1</td>
                    <td>Player 2</td>
                    <td>1's Type</td>
                    <td>2's Type</td>
                    <td>Winner</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>User</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>User2</td>
                    <td>Human</td>
                    <td>Human</td>
                    <td>User1</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>User</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>User2</td>
                    <td>Human</td>
                    <td>Human</td>
                    <td>User1</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>User2</td>
                    <td>Human</td>
                    <td>Human</td>
                    <td>User2</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>Robot</td>
                </tr>
                <tr>
                    <td>User1</td>
                    <td>User2</td>
                    <td>Human</td>
                    <td>Human</td>
                    <td>User2</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>Robot</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>Draw</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>User</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>User</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Robot</td>
                    <td>Human</td>
                    <td>Bot</td>
                    <td>Robot</td>
                </tr>
                </table>
                <img src="{{url_for('images', filename='Statistics_1.png')}}" alt="1" width="200" class="center" />
                <img src="{{url_for('images', filename='Statistics_2.png')}}" alt="2" width="200" class="center" />
                <img src="{{url_for('images', filename='Statistics_3.png')}}" alt="3" width="200" class="center" />
        </div>
    </div>
</body>

</html>